$darken: 10%;

$red: #C3010A;
$red-dark: darken($red, $darken);

$yellow: #F9DD1A;
$yellow-dark: darken($yellow, $darken);

$green: #039935;
$green-dark: darken($green, $darken);

$blue: #01559B;
$blue-dark: darken($blue, $darken);

$gray: darken(#fff, 15%);
$gray-dark: darken($gray, 20%);
$gray-darker: darken($gray, 40%);

$pen: #3b00ff;

$shadow: 0px 3px 20px lighten(#000, 15%);
