{
	"presets": ["react-app"],
	"plugins": [
		"transform-decorators-legacy",
		"babel-plugin-webpack-aliases",
		[
			"styled-components",
			{"ssr": true, "displayName": true, "preprocess": false}
		]
	]
}
